.sidebar{
  width: 18%;
  min-height: 100vh;
  background-color: var(--bg-color);
  border-right: 1.5px solid var(--border-color);
  border-top: 0;
  font-size: max(1vw, 10px);
}
.sidebar-options{
  padding-top: 50px;
  padding-left: 20%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sidebar-option{
  background-color: var(--white);
}
.sidebar-option{
  display: flex;
  align-items: center;
  gap: 12px;
  border: 1px solid var(--border-light);
  border-right: 0;
  padding: 8px 10px;
  border-radius: 8px 0px 0px 8px;
  cursor: pointer;
}
.sidebar-option:hover {
  background-color: var(--black);
  color: var(--white);
  border-right: 1px solid var(--border-light);
  box-shadow: 2px 3px 13px 0px rgba(124,124,124,0.49);
  -webkit-box-shadow: 2px 3px 13px 0px rgba(124,124,124,0.49);
  -moz-box-shadow: 2px 3px 13px 0px rgba(124,124,124,0.49);
}
.sidebar-option:hover img {
  filter: invert(100%);
}
.sidebar-option.active{
  background-color: var(--red);
  border-color: var(--red);
  color: var(--white);
}
.sidebar-option.active img {
  filter: invert(100%);
}
@media (max-width:900px){
  .sidebar-option p{
    display: none;
  }
}