.list-table-format{
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 0.5fr;
  align-items: center;
  gap: 10px;
  padding: 12px 15px;
  border-bottom: 1px solid var(--border-light);
  font-size: 13px;
  margin: 10px 0px;
  color: var(--black);
  /* font-size: max(1vw, 12px); */
}
.list-table-format.title{
  margin: 10px 0px;
}
.list-table-format img{
  width: 50px;
  border-radius: 4px;
}
.list-heading{
  font-size: max(1.5vw, 14px);
  color: var(--grey);
}
.list-table {
  max-height: 70vh; 
  overflow-y: auto;
}
.list-table::-webkit-scrollbar {
  width: 6px;
}
.list-table::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

@media (max-width:600px){
  .list-table-format{
    grid-template-columns: 1fr 3fr 1fr;
    gap: 15px;
  }
  .list-table-format.title{
    display: none;
  }
}
